<div class="d-flex align-items-center justify-content-center">
  <h1>Check my scheduled tweets</h1>
</div>

<%= button_to "Connect to Twitter", "/auth/twitter", method: :post, class: "btn btn-primary", data: {turbo: "false"} %>